*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body{
  color: white;
  background-color: black;
}

.banner {
  background: linear-gradient(rgba(0,0,0,0),rgba(16,16,16,1)), url("./assets/bg.jpg");
  height: 850px;
  width: 100%;
  background-repeat: none;
  background-position: center;
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.banner p{
  padding: 5px;
}

.cards {
  display: flex;
  width: 70%;
  /* border: 1px solid red; */
  justify-content: center;
  margin: auto;
  gap: 20px;
  flex-wrap: wrap;
}

.card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex: 0 1 calc(33.33% - 20px);
}

a{
  /* border: 1px solid yellow; */
  color: white;
  text-decoration: none;
}
